*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(240, 67%, 8%);
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

a {
  text-decoration: none;
  position: relative;
  display: grid;
  grid-area: 1 / -1;
}

div {
  position: relative;
}

.solar {
  all: unset;
  container-type: inline-size;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  max-height: 1200px;
  margin-inline: auto;
}

/* the container which will have the border (path) to move on */
div:not(.sun) {
  width: var(--width, 300px);
  aspect-ratio: 1;
  /* display: grid;
  grid-area: 1 / -1; */
  border: 0.1cqi dashed hsl(0, 0%, 100%);
  border-radius: 50%;
}

/* the psuedo element that will move on the border of the parent with the use of offset-path */
div:not(.sun)::after {
  content: "";
  width: var(--diameter, 30px);
  aspect-ratio: 1;
  background-color: var(--planet-color, hsla(0, 77%, 41%));
  background-size: cover;
  background-image: var(--planet-image);
  border-radius: 50%;
  offset-path: content-box;
  animation: rotate var(--duration, 2s) linear infinite;
  display: block;
}

div:not(.sun):hover::after {
  animation-play-state: paused;
}

a:hover::before {
  content: attr(planet-name);
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem hsl(0, 0%, 100%);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.sun {
  height: 5cqmin;
  aspect-ratio: 1;
  background-image: url(https://www.solarsystemscope.com/textures/download/8k_sun.jpg);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

@keyframes rotate {
  100% {
    offset-distance: 100%;
  }
}

/* 60km = 20cqi */

.mercury {
  z-index: 100;
  --width: 9.125cqmin;
  --duration: 5s;
  --diameter: 1.5cqi;
  --planet-color: green;
  --planet-image: url(https://www.solarsystemscope.com/textures/download/8k_mercury.jpg);
}
.venus {
  z-index: 90;
  --width: 14.06cqmin;
  --duration: 3s;
  --diameter: 2cqi;
  --planet-color: hsl(40, 100%, 50%);
  --planet-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvnfxRz5PBUtbznqrTtd04zQZhsUJGiorxTQ&s);
}

.earth {
  z-index: 80;
  --width: 20.33cqmin;
  --duration: 10s;
  --diameter: 3cqi;
  --planet-color: hsl(190, 100%, 50%);
  --planet-image: url(https://www.researchgate.net/publication/365081939/figure/fig7/AS:11431281094631088@1667539006876/This-figure-illustrates-the-3D-texture-mapping-capabilities-of-the-ray-tracer-2D-image.jpg);
}

.mars {
  z-index: 70;
  --width: 28cqmin;
  --duration: 7s;
  --diameter: 2cqi;
  --planet-color: hsl(0, 100%, 50%);
  --planet-image: url(https://www.solarsystemscope.com/textures/download/2k_mars.jpg);
  cursor: pointer;
}

.jupiter {
  z-index: 60;
  --width: 40cqmin;
  --duration: 15s;
  --diameter: 4.5cqi;
  --planet-color: hsl(40, 100%, 50%);
  --planet-image: url(https://www.solarsystemscope.com/textures/download/8k_jupiter.jpg);
}

.saturn {
  z-index: 50;
  --width: 52cqmin;
  --duration: 20s;
  --diameter: 4cqi;
  --planet-color: hsl(295, 51%, 36%);
  --planet-image: url(https://www.solarsystemscope.com/textures/download/8k_saturn.jpg);
}

.uranus {
  z-index: 40;
  --width: 60cqmin;
  --duration: 12s;
  --diameter: 3cqi;
  --planet-color: hsl(180, 100%, 50%);
  --planet-image: url(https://www.solarsystemscope.com/textures/download/2k_uranus.jpg);
}

.neptune {
  z-index: 30;
  --width: 67cqmin;
  --duration: 13s;
  --diameter: 3cqi;
  --planet-color: hsl(220, 100%, 50%);
  --planet-image: url(https://www.solarsystemscope.com/textures/download/2k_neptune.jpg);
}

.pluto {
  z-index: 20;
  --width: 75cqmin;
  --duration: 10s;
  --diameter: 2cqi;
  --planet-color: hsl(0, 0%, 100%);
  --planet-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Sx99PZ34f92iH19AyVJD00rBazXbesVDIg&s);
}
